{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      {{ partial "sidebar.html" . }}
      <div class="col-lg-8 mb-5 mb-lg-0">
        <div class="row">
          <div style="width: 100%;text-align: center;margin-bottom: 30px;"><h3>我是誰</h3></div>
          <div>大家好，我是簡佳恩，目前任職於一零四資訊科技，這是我的學習筆記，想把學過的東西記下來加深印象，也利於後續複習。</div>
          <div>目前使用 PHP 及其框架 LARAVEL 開發，持續學習當中。</div>
          <div style="width: 100%;margin: 30px 0px;">
            <table class="table table-sm">
              <h3 style="width: 100%;">我的文章</h3>
              <thead>
                <tr>
                  <th scope="col">文章</th>
                </tr>
              </thead>
              <tbody>
                {{ range .Site.Params.myarticle }}
                    <tr>
                      <td><a href="{{ .link }}">{{ .title }}</a></td>
                    </tr>
                  
                {{ end }}
              </tbody>
            </table>
            <table class="table table-sm">
              <h3>讀書清單</h3>
              <thead>
                <tr>
                  <th scope="col">書名</th>
                  <th scope="col">連結</th>
                  <th scope="col">狀態</th>
                  <th scope="col">分享狀態</th>
                </tr>
              </thead>
              <tbody>
                {{ range .Site.Params.book }}
                    <tr>
                      <td>{{ .title }}</td>
                      <td><a href='{{ .link }}' target="_blank">連結</a></td>
                      <td>{{ .status }}</td>
                      <td>{{ .share }}</td>
                    </tr>
                  
                {{ end }}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>
{{ end }}