{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      {{ partial "sidebar.html" . }}
      <div class="col-lg-8 mb-5 mb-lg-0">
        <div class="row">
          <div style="width: 100%;text-align: center;margin-bottom: 30px;">
            <h3>我是誰</h3>
          </div>
          <div>大家好，我是簡佳恩，是一名後端工程師，也是打雜小弟，平日寫寫程式，假日打羽球，目前有在學習日文。</div>
          <div>在這邊，我會分享一些自己學習到的小知識，最近也開始想在這個部落格上，把自己學習日文的過程記錄下來。</div>
          <div style="width: 100%;margin: 30px 0px;">
            <table class="table table-sm">
              <h3 style="width: 100%;">2023 年度目標</h3>
              <thead>
                <tr>
                  <th scope="col">項目</th>
                  <th scope="col">是否完成</th>
                </tr>
              </thead>
              <tbody>
                {{ range .Site.Params.myarticle }}
                <tr>
                  <td>{{ .title }}</td>
                  <td>{{ .done }}</td>
                </tr>

                {{ end }}
              </tbody>
            </table>
            <table class="table table-sm">
              <h3>讀書清單</h3>
              <thead>
                <tr>
                  <th scope="col">項目</th>
                  <th scope="col">是否完成</th>
                </tr>
              </thead>
              <tbody>
                {{ range .Site.Params.book }}
                <tr>
                  <td>{{ .title }}</td>
                  <td>{{ .done }}</td>
                </tr>

                {{ end }}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
{{ end }}