{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      {{ partial "sidebar.html" . }}
      <div class="col-lg-8 mb-5 mb-lg-0">
        <div class="row">
          <table class="table table-sm">
            <h3>好書待讀</h3>
            <thead>
              <tr>
                <th scope="col">書名</th>
                <th scope="col">狀態</th>
                <th scope="col">分享狀態</th>
              </tr>
            </thead>
            <tbody>
              {{ range .Site.Params.book }}
                  <tr>
                    <td>{{ .title }}</td>
                    <td>{{ .status }}</td>
                    <td>{{ .share }}</td>
                  </tr>
                
              {{ end }}
            </tbody>
          </table>
          <hr>
          <table class="table table-sm">
            <h3>好文待讀</h3>
            <thead>
              <tr>
                <th scope="col">文章</th>
                <th scope="col">狀態</th>
                <th scope="col">分享狀態</th>
              </tr>
            </thead>
            <tbody>
              {{ range .Site.Params.article }}
                  <tr>
                    <td><a href="{{ .link }}">{{ .title }}</a></td>
                    <td>{{ .status }}</td>
                    <td>{{ .share }}</td>
                  </tr>
                
              {{ end }}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
  </div>
</section>
{{ end }}